body {
    background-color:#f0efef;
}
header{
    background-color: #033048;
    color: #f0efef;
    height: 100px;
   
    
}
.headerr {
    
    font-size: 24px;
    padding: 20px;

}
h1{
    font-weight: 900;

}
h2{
    
    color: rgba(0, 5, 143, 1);
    
        font-size: 40px;
        width: 60%;
  
    
}
p {
    width: 700px;

}
 .ht {
    margin-left: 600px;
    
}


 .ht li{
    
    display: inline;
    
}
.ht a{
    color: #f9e42e;
}
  .ht li:after { 
    content: " | ";
    color: black;
  }
  .ht li:last-child
  {
      content: ""

  }
  .intro{
      margin: 1%;
      padding: 4%;
      width: 70%;

      float: left;
  }
  .read {
      align-items: flex-end;
  }
  .said{
      float:right;
      margin: 1%;
      padding: 1%;
      width: 15%;


  }
  .sign { 
      float: right;
      height: 60px;
      width: 100%;
      background-color: #f9e42e;
      text-align: center;
  }
button{
    background-color: #033048;
    color: #f0efef;
    margin: 10px;
    margin-bottom: 10px;
    padding: 11px;
    border: 11px;
    
}
footer{
    background-color: rgb(8, 1, 1);
    height: 200px;
    width: 100%;
    float: left;
    color: #dcdf50;
    text-align: center;
    


}
.footerLi li {
    display: inline;
    
    
}

footer h3{
    font-size: 30px;
    margin: 10px;
}
footer h4{
    font-size: 10px;
    color: #f0efef;
    margin: 50px;
}
.icon{
    
        height: 20px;
        margin: 4px;
   
    

}